body {
    background-color: aquamarine;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

button{
    font-size: 24px;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    /* margin: auto; */
    border: 1px solid salmon;
    border-radius: 20%;
    aspect-ratio: 1;

}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    
    /* align-self: center; */
    width: min(90%, 600px);
    height: auto;


    border: 1px solid white;
    border-radius: 10%;
    background-color: salmon;

}
    #screenContainer{
        padding: 2em;
        width: 75%;
        align-self: center;
        
    }
        #display{
            font-size: 50pt;
            text-align: right;
            color: azure;
            background-color: black;
            border: 3px solid gray;
            border-radius: 5%;
            padding: 1rem;
        }

    #keypad{
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: space-evenly;
        align-items: stretch;
        flex: 1 100%;
    }
        #functions{
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            flex: 1;
            padding: 1em;
        }
            .function{
                flex: 1;
            }

        #numOpContainer{
            display: flex;
            
            flex: 1;
            padding: 1em;
        }
            #numbers{
                flex: 3;
                width: 75%;
                aspect-ratio: 3/4;

                display: flex;
                flex-direction: column;

            }
            #numbers > div {
                flex:1;
                width: 25%;

                display: flex;
                flex-wrap: nowrap;
                /* justify-content: center; */
            }
                .number{
                    flex: 1;
                }

                div#fourthRow{
                    /* flex:none; */
                }

                    #fourthRow > .number{
                        flex-grow: 3;
                        aspect-ratio: 2/1;
                    }
                    #fourthRow > #point{
                        flex-grow: 1;
                        aspect-ratio: 1;
                    }

        #operators{
            display: flex;
            flex-direction: column;
            flex: 1;
            width: 25%;
        }
    