body {
    background-color: aquamarine;
    height: 90vh;
    min-width: 350px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    
    margin: auto;
}

button{
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    /* margin: auto; */
    border: 1px solid salmon;
    border-radius: 20%;
    aspect-ratio: 1;

}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: stretch; */
    width: min(60%, 600px);
    min-height: 65%;
    padding: 2em;
    border: 1px solid white;
    border-radius: 10%;
    background-color: salmon;
    gap: 1rem;

}
    #screenContainer{
        min-height: 25%;
        width: 80%;
        min-width: 0;
        flex: 1 1 auto;
        align-self: center;
        /* margin: 1rem; */

        display: flex;
        align-items: center;

            background-color: black;
            border: 3px solid gray;
            border-radius: 5%;
        
    }
        #displayValue{
            /* min-width: 0; */
            /* min-height: 90%; */
            /* width: 100%; */
            padding-right: 1rem;
            flex: 1 1 auto;
            font-size: 300%;
            text-align: right;
            color: azure;

        }

    #keypad{
        display: flex;
        flex-direction: column;
        /* gap: 5px; */
        padding: 1rem;
        justify-content: space-evenly;
        align-items: stretch;
        min-height: 0; 
        flex: 3 0 auto;
    }
        #operators{
            min-width: 0;
            width: 100%;
            flex: 1 0 auto;
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;

            /* padding: 1em; */
            
        }
            .operator{
                flex: 1 1 auto;
            }

        #numOpContainer{
            min-width: 0;
            width: 100%;
            flex: 1 0 auto;

            display: flex;
            /* padding: 1em; */

        }
            #numbers{

                min-width: 0;
                width: 75%;
                flex: 1 0 auto;
                /* flex: 3 1 auto; */
                /* aspect-ratio: 3/4; */

                display: flex;
                flex-direction: column;

            }
            #numbers > div {
                height: 25%;

                flex: 1 0 auto;
                display: flex;
                flex-wrap: nowrap;
            }
                .number{
                    min-width: 0;
                    flex: 1 1 auto;
                }

                    #fourthRow > .number{
                        /* flex: 3 0 66%; */
                        min-height: 66.66%;
                        flex: 1 0 auto;
                        /* aspect-ratio: 2/1; */
                        border-radius: 15%;
                    }
                    #fourthRow > #point{

                        min-height: 33.33%;
                        flex: 1 0 auto;
                        /* aspect-ratio: 1; */

                    }

        #resultButtons{
            min-width: 0;
            display: flex;
            flex-direction: column;
            width: 25%;
            flex: 1 0 auto;
            
        }
    